body.theme-dark {
  --text-color: var(--color-pnku);
  /* Core Color Palette */
    /* Green based on #0f9 */
      --color-green-900: #0b261b;
      --color-green-800: #0d2f1b;
      --color-green-700: #0f3620;
      --color-green-600: #103c23;
      --color-green-500: #14693c;
      --color-green-400: #2da465;
      --color-green-300: #3eb976;
      --color-green-200: #34d07d;
      --color-green-100: #5be2a0;
      --color-green-000: #a0f5d1;

    /* Red akin to an orange to be more distinct from the pinks*/
      --color-red-900: #2f1109;
      --color-red-800: #510909;
      --color-red-700: #740404;
      --color-red-600: #793016;
      --color-red-500: #863518;
      --color-red-400: #9e3d1c;
      --color-red-300: #b3451d;
      --color-red-200: #d7613a;
      --color-red-100: #f88349;
      --color-red-000: #ffb8a0;

  --color-orange-bright: #f66a0a;

  --color-yellow-light: #dbab09;
  --color-yellow-bright: #f9c513;

  --color-blue-900: #4c0517;
  --color-blue-800: #620326;
  --color-blue-750: #79063a;
  --color-blue-700: #9f1651;
  --color-blue-600: #b8185d;
  --color-blue-500: #ef0369;
  --color-blue-400: #ff2172;
  --color-blue-300: #f12979;
  --color-blue-200: #ff58a9;
  --color-blue-100: #ff79be;
  --color-blue-000: #ffc8e0;

  --color-pnku: #ff005d;

  --color-gray-000: #ffc5d8;
  --color-gray-100: #ff97c1;
  --color-gray-200: #d5809c;
  --color-gray-300: #d8738c;
  --color-gray-400: #be315d;
  --color-gray-500: #b81b4f;
  --color-gray-550: #8e143a;
  --color-gray-575: #710a30;
  --color-gray-600: #590220;
  --color-gray-700: #4b0219;
  --color-gray-750: #3f0118;
  --color-gray-800: #340015;
  --color-gray-850: #2f000f;
  --color-gray-900: #20000d;
  --color-gray-910: #190009;
  --color-gray-950: #160006;

  --color-white: #fff0f5;
  --color-black: #140007;

  --color-text-primary: var(--color-pnku);
  --color-text-muted: var(--color-gray-575);
  --color-background-main: var(--color-gray-800);
  --color-button-hover: var(--color-blue-500);
  --color-border-focus-blue: var(--color-blue-700);
  --color-link-bright: var(--color-blue-400);
  --color-link-hover: var(--color-blue-300);
  --color-link-selected-hover: var(--color-blue-400);
  --color-shadow-medium: rgba(37, 0, 14, 0.5);
  --color-shadow-light: rgba(255, 200, 235, 0.2);
  --color-shadow-lighter: rgba(255, 200, 235, 0.5);
  --color-shadow-input-focus: rgba(214, 3, 102, 0.25);
  --color-shadow-secondary-button: rgba(239, 190, 218, 0.75);
  --color-box-alt-bg: var(--color-gray-750);
  --color-box-border: var(--color-gray-900);
  --color-coauthor-tag-bg: var(--color-blue-800);
  --color-toolbar-divider: var(--color-gray-575);
  --color-badge-secondary-bg: var(--color-gray-550);
  --color-badge-secondary: var(--color-gray-575);
  --color-tooltip-bg: var(--color-gray-700);
  --color-path-focus: var(--color-gray-600);
  --color-syntax-variable: #b392f0;
  --color-syntax-alt-var: var(--color-blue-300);
  --color-syntax-keyword: #f97593;
  --color-syntax-string: #ffab70;
  --color-syntax-tag: var(--color-green-300);
  --color-syntax-attribute: #b392f0;
  --color-syntax-link: var(--color-blue-100);
  --color-syntax-header: #ff5563;
  --color-syntax-quote: var(--color-green-200);
  --color-form-error-bg: var(--color-red-600);
  --color-form-error-border: var(--color-red-500);
  --color-dialog-success-border: var(--color-green-500);
  --color-dialog-error: var(--color-red-300);
  --color-banner-warning-bg: var(--color-gray-800);
  --color-banner-warning-link: var(--color-blue-300);
  --color-file-warning-bg: rgba(115, 78, 15, 0.4);
  --color-file-warning-border: rgba(176, 97, 0, 0.4);
  --color-pr-timeline: var(--color-gray-550);
  --color-pr-changes-requested: var(--color-red-200);
  --color-pr-commented: var(--color-gray-400);

  /* UI Tokens */
  --text-secondary-color: var(--color-gray-500);
  --text-secondary-color-muted: var(--color-text-muted);
  --background-color: var(--color-background-main);
  --button-background: var(--color-blue-600);
  --button-hover-background: var(--color-button-hover);
  --button-text-color: var(--color-white);
  --button-focus-border-color: var(--color-border-focus-blue);
  --link-button-color: var(--color-link-bright);
  --link-button-hover-color: var(--color-link-hover);
  --link-button-selected-hover-color: var(--color-link-selected-hover);
  --secondary-button-background: var(--color-gray-750);
  --secondary-button-border-color: var(--color-gray-500);
  --secondary-button-hover-border-color: var(--color-blue-300);
  --secondary-button-hover-background: var(--color-gray-750);
  --secondary-button-text-color: var(--color-pnku);
  --secondary-button-focus-shadow-color: var(--color-shadow-secondary-button);
  --secondary-button-focus-border-color: var(--color-blue-300);
  --badge-icon-color: var(--color-blue-600);
  --input-icon-warning-color: var(--color-yellow-bright);
  --input-icon-error-color: var(--color-red-200);
  --input-icon-hover-background-color: var(--color-gray-750);
  --commit-message-icon-warning-color: var(--input-icon-warning-color);
  --commit-message-icon-error-color: var(--input-icon-error-color);
  --commit-message-action-button-separator-color: var(--color-gray-500);
  --scroll-bar-thumb-background-color: var(--color-shadow-light);
  --scroll-bar-thumb-background-color-active: var(--color-shadow-lighter);
  --box-background-color: var(--color-gray-900);
  --box-alt-background-color: var(--color-box-alt-bg);
  --box-skeleton-background-color: var(--color-gray-600);
  --box-border-color: var(--color-box-border);
  --box-border-contrast-color: var(--color-gray-500);
  --box-border-accent-color: var(--color-blue-600);
  --box-selected-background-color: var(--color-gray-600);
  --box-hover-text-color: var(--color-pnku);
  --box-hover-background-color: var(--color-gray-750);
  --box-selected-text-color: var(--color-pnku);
  --box-selected-border-color: var(--color-gray-500);
  --box-selected-active-background-color: var(--color-blue-600);
  --box-selected-active-text-color: var(--color-white);
  --box-selected-active-border-color: var(--color-gray-500);
  --box-placeholder-color: var(--color-gray-500);
  --co-author-tag-background-color: var(--color-coauthor-tag-bg);
  --co-author-tag-border-color: var(--color-blue-750);
  --commit-warning-badge-background-color: var(--background-color);
  --commit-warning-badge-border-color: var(--color-gray-600);
  --base-border: 1px solid var(--box-border-color);
  --contrast-border: 1px solid var(--box-border-contrast-color);
  --shadow-color: var(--color-shadow-medium);
  --base-box-shadow: 0 2px 7px var(--shadow-color);

  // Menu bar colors

    --toolbar-background-color: var(--color-gray-900);
    --toolbar-border-color: var(--box-border-color);
    --toolbar-text-color: var(--color-pnku);
    --toolbar-text-secondary-color: var(--text-secondary-color);
    --toolbar-button-color: var(--toolbar-text-color);
    --toolbar-button-background-color: transparent;
    --toolbar-button-border-color: var(--box-border-color);
    --toolbar-button-secondary-color: var(--toolbar-text-secondary-color);
    --toolbar-button-hover-color: var(--color-blue-300);
    --toolbar-button-hover-background-color: var(--color-gray-750);
    --toolbar-button-hover-border-color: var(--toolbar-button-border-color);
    --toolbar-button-focus-background-color: var(--color-gray-750);
    --toolbar-button-active-color: var(--color-pnku);
    --toolbar-button-active-background-color: var(--background-color);
    --toolbar-button-active-border-color: var(--background-color);
    --toolbar-button-progress-color: var(--color-gray-750);
    --toolbar-button-focus-progress-color: var(--color-gray-600);
    --toolbar-button-hover-progress-color: var(--color-gray-600);
    --toolbar-dropdown-open-progress-color: var(--color-blue-600);
    --toolbar-dropdown-text-warning-color: var(--color-orange-bright);
    --toolbar-dropdown-text-hover-color: var(--color-blue-300);
    --toolbar-tooltip-background-color: var(--color-gray-750);
    --toolbar-tooltip-shadow-color: var(--color-black);
    --toolbar-badge-background-color: var(--color-gray-600);
    --toolbar-badge-active-background-color: var(--color-gray-600);

    --app-menu-button-color: var(--toolbar-text-color);
    --app-menu-button-hover-color: var(--toolbar-button-hover-color);
    --app-menu-button-hover-background-color: var(--toolbar-button-hover-background-color);
    --app-menu-button-active-color: var(--color-pnku);
    --app-menu-button-active-background-color: var(--color-gray-750);
    --app-menu-pane-color: var(--color-pnku);
    --app-menu-pane-secondary-color: var(--text-secondary-color);
    --app-menu-pane-background-color: var(--color-gray-750);
    --app-menu-divider-color: var(--color-toolbar-divider);
    --tab-bar-active-color: var(--color-blue-600);
    --tab-bar-background-color: var(--box-background-color);
    --tab-bar-hover-background-color: var(--color-gray-750);
    --tab-bar-count-color: var(--color-pnku);
    --tab-bar-count-background-color: var(--color-gray-600);

  --list-item-badge-color: var(--color-pnku);
  --list-item-badge-background-color: var(--color-badge-secondary);
  --list-item-selected-badge-color: var(--color-white);
  --list-item-selected-badge-background-color: var(--color-badge-secondary-bg);
  --list-item-selected-active-badge-color: var(--background-color);
  --list-item-selected-active-badge-background-color: var(--color-white);
  --list-item-hover-background-color: var(--color-gray-750);
  --toast-notification-color: var(--color-pnku);
  --toast-notification-background-color: rgba(0, 0, 0, 0.8);
  --focus-color: var(--color-blue-600);
  --text-field-focus-shadow-color: var(--color-shadow-input-focus);
  --primary-suggested-action-background: var(--color-blue-900);
  --primary-suggested-action-border-color: var(--color-blue-750);
  --suggested-action-icon-color: var(--color-blue-400);

    // Diff colors

  --diff-text-color: var(--color-pnku);
  --diff-border-color: var(--color-gray-750);
  --diff-gutter-color: var(--color-gray-750);
  --diff-gutter-background-color: var(--color-gray-900);
  --diff-line-number-color: var(--text-secondary-color);
  --diff-selected-background-color: var(--color-blue-750);
  --diff-selected-border-color: var(--color-border-focus-blue);
  --diff-selected-gutter-color: var(--color-border-focus-blue);
  --diff-selected-text-color: var(--color-pnku);
  --diff-add-background-color: var(--color-green-800);
  --diff-add-border-color: var(--color-diff-add-border);
  --diff-add-gutter-color: var(--color-diff-add-gutter);
  --diff-add-gutter-background-color: var(--color-green-600);
  --diff-add-inner-background-color: var(--color-green-500);
  --diff-add-text-color: var(--color-pnku);
  --diff-delete-background-color: var(--color-red-800);
  --diff-delete-border-color: var(--color-red-400);
  --diff-delete-gutter-color: var(--color-red-400);
  --diff-delete-gutter-background-color: var(--color-red-600);
  --diff-delete-inner-background-color: var(--color-red-700);
  --diff-delete-text-color: var(--color-pnku);
  --diff-hunk-background-color: var(--color-gray-900);
  --diff-hunk-border-color: var(--color-diff-border-deep);
  --diff-hunk-gutter-color: var(--color-diff-border-deep);
  --diff-hunk-gutter-background-color: var(--color-diff-hunk-bg);
  --diff-hunk-text-color: var(--text-secondary-color);
  --diff-hover-background-color: var(--color-blue-600);
  --diff-hover-border-color: var(--color-blue-400);
  --diff-hover-gutter-color: var(--color-blue-400);
  --diff-hover-text-color: var(--diff-text-color);
  --diff-add-hover-background-color: var(--color-diff-add-hover-bg);
  --diff-add-hover-border-color: var(--color-diff-add-hover-border);
  --diff-add-hover-gutter-color: var(--color-diff-add-hover-border);
  --diff-add-hover-text-color: var(--color-pnku);
  --diff-delete-hover-background-color: var(--color-diff-delete-hover-bg);
  --diff-delete-hover-border-color: var(--color-red-300);
  --diff-delete-hover-gutter-color: var(--color-red-300);
  --diff-delete-hover-text-color: var(--color-pnku);
  --diff-empty-row-background-color: #22262b;
  --diff-empty-row-gutter-background-color: var(--diff-gutter-background-color);
  --diff-empty-hunk-handle: var(--color-gray-600);
  --diff-linenumber-focus-color: var(--color-diff-line-focus);
  --color-diff-line-focus: var(--color-blue-000);
  --color-diff-delete-text: var(--color-gray-575);
  --color-diff-hunk-bg: var(--color-gray-910);
  --color-diff-border-deep: var(--color-gray-800);
  --color-diff-add-hover-bg: var(--color-green-600);
  --color-diff-add-hover-border: var(--color-green-500);
  --color-diff-delete-hover-bg: var(--color-gray-400);
  --color-diff-add-border: var(--color-green-700);
  --color-diff-add-gutter: var(--color-green-700);
  --color-new: var(--color-green-300);
  --color-deleted: var(--color-red-200);
  --color-modified: var(--color-yellow-light);
  --color-renamed: var(--color-blue-600);
  --color-conflicted: var(--color-orange-bright);

  // Syntax highlighting text colors

  --syntax-variable-color: var(--color-syntax-variable);
  --syntax-alt-variable-color: var(--color-syntax-alt-var);
  --syntax-keyword-color: var(--color-syntax-keyword);
  --syntax-atom-color: var(--color-syntax-alt-var);
  --syntax-string-color: var(--color-syntax-string);
  --syntax-qualifier-color: var(--color-syntax-variable);
  --syntax-type-color: var(--color-syntax-keyword);
  --syntax-comment-color: var(--color-gray-500);
  --syntax-tag-color: var(--color-syntax-tag);
  --syntax-attribute-color: var(--color-syntax-attribute);
  --syntax-link-color: var(--color-syntax-link);
  --syntax-header-color: var(--color-syntax-header);
  --syntax-quote-color: var(--color-syntax-quote);

  // Error, warning, and status colors

  --error-color: var(--color-red-200);
  --form-error-background: var(--color-form-error-bg);
  --form-error-border-color: var(--color-form-error-border);
  --form-error-text-color: var(--color-pnku);
  --input-warning-text-color: var(--dialog-warning-color);
  --input-error-text-color: var(--color-syntax-keyword);
  --overlay-background-color: rgba(0, 0, 0, 0.5);
  --dialog-warning-color: var(--color-yellow-bright);
  --dialog-information-color: var(--color-blue-400);
  --dialog-error-color: var(--color-dialog-error);
  --banner-warning-background: var(--color-banner-warning-bg);
  --banner-warning-text-color: var(--color-pnku);
  --banner-warning-link-color: var(--color-banner-warning-link);
  --banner-warning-icon-color: var(--color-yellow-light);
  --file-warning-background-color: var(--color-file-warning-bg);
  --file-warning-color: var(--color-yellow-light);
  --file-warning-border-color: var(--color-file-warning-border);

  --status-pending-color: var(--color-yellow-light);
  --status-error-color: var(--color-red-200);
  --status-success-color: var(--color-green-300);

  --dialog-banner-success-background: rgba(22, 92, 38, 0.7);
  --dialog-banner-success-border-color: var(--color-dialog-success-border);
  --dialog-banner-success-text-color: var(--color-pnku);

  // Tooltip colors

  --tooltip-background-color: var(--color-gray-750);
  --tooltip-color: var(--color-pnku);
  --tooltip-shadow-color: var(--color-black);

  --path-segment-background: var(--color-gray-600);
  --path-segment-background-focus: var(--color-path-focus);
  --pr-open-icon-color: var(--color-green-300);
  --pr-draft-icon-color: var(--color-gray-500);
  --pr-timeline-line-color: var(--color-pr-timeline);
  --pr-changes-requested-icon-background-color: var(--color-pr-changes-requested);
  --pr-approved-icon-background-color: var(--color-green-400);
  --pr-commented-icon-color: var(--color-pr-commented);
  --pr-commented-icon-background-color: var(--color-gray-600);
  --call-to-action-bubble-background-color: var(--color-blue-600);
  --call-to-action-bubble-color: var(--color-white);
  --title-tool-tip-background-color: var(--color-tooltip-bg);
  --title-tool-tip-shadow: none;

  // Markdown colors

  --color-md-border: var(--color-gray-700);
  --color-md-border-muted: var(--color-gray-750);
  --color-md-canvas: var(--color-gray-950);
  --color-md-canvas-subtle: var(--color-gray-900);
  --color-md-fg: var(--color-gray-300);
  --color-md-muted: var(--color-gray-400);
  --color-md-danger: var(--color-red-100);
  --color-md-accent: var(--color-blue-200);
  --color-md-accent-strong: var(--color-blue-500);
  --color-md-neutral-muted: rgba(129, 110, 118, 0.4);
  --md-border-default-color: var(--color-md-border);
  --md-border-muted-color: var(--color-md-border-muted);
  --md-canvas-default-color: var(--color-md-canvas);
  --md-canvas-subtle-color: var(--color-md-canvas-subtle);
  --md-fg-default-color: var(--color-md-fg);
  --md-fg-muted-color: var(--color-md-muted);
  --md-danger-fg-color: var(--color-md-danger);
  --md-neutral-muted-color: var(--color-md-neutral-muted);
  --md-accent-emphasis-color: var(--color-md-accent-strong);
  --md-accent-fg-color: var(--color-md-accent);

  // Font settings

  --font-family-sans-serif: Departure Mono, monospace;
  --font-family-monospace: Departure Mono, monospace;
  --font-size: 11px;
  -webkit-font-smoothing: none;
}