.tab-bar.tabs .tab-bar-item:last-child {
  margin-left: -1px;
}

.tab-bar.vertical .tab-bar-item:not(.selected) .icon {
  color: var(--color-gray-400);
}

[id*="__Checkbox_0"] {
  filter: sepia(1) brightness(0.75) hue-rotate(-66.7deg) saturate(2);
}
input[type="checkbox"] {
  accent-color: var(--color-pnku);
}
input[type="checkbox"]:not(:checked) {
  filter: sepia(1) saturate(4.5) hue-rotate(-66.7deg);
}

button:not(.tab-bar-item) {
  font-family: Galmuri9, monospace !important;
  font-size: 10px !important;
}

.ahead-behind {
  font-size: 13px;
  font-family: "CozetteVector", monospace;
}

.menu-item {
  font-family: "Galmuri9", monospace !important;
  font-size: 10px !important;
}

h1, h2, h3 {
  font-family: "Galmuri11 Bold", monospace !important;
  font-size: 12px;
}

.ecs-title {
  font-family: CozetteVector, monospace !important;
  font-size: 26px !important;
}

.description {
  font-family: ProggyClean Nerd Font Mono, monospace !important;
  font-size: 16px !important;
}

.byline {
  font-size: 8px !important;
  font-family: Galmuri7, monospace !important;
  opacity: 0.85;
}

#desktop-app-title-bar {
  background-color: var(--color-gray-darker-1) !important;
}

#desktop-app-title-bar .window-controls button {
  -webkit-app-region: no-drag;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: var(--color-pnku);
  transition: background-color .25s ease;
  line-height: 10px;
}

#desktop-app-title-bar .window-controls button:focus {
  outline: none
}

#desktop-app-title-bar .window-controls button:hover {
  background-color: var(--color-pnku) !important;
  color: #fff;
}

#desktop-app-title-bar .window-controls button:hover:active {
  background-color:  var(--color-blue-bright) !important;
  transition: none
}

#desktop-app-title-bar .window-controls button.close:hover {
  background-color: #e81123 !important;
  color: #fff !important;
  fill: white !important;
}

#desktop-app-title-bar .window-controls button.close:hover:active {
  background-color: #bf0f1d;
  transition: none
}

#desktop-app-title-bar .window-controls button:not(:hover) svg {
  fill: var(--color-pnku) !important;
}

#desktop-app-container {
  border: 2px solid var(--color-pnku);
}

#diff img, .image-wrapper {
  height: 100% !important;
  width: 100% !important;
  image-rendering: pixelated !important;
}

.image-container-border {
  position: absolute !important;
}

.panel.image .image-diff-previous img, .panel.image .image-diff-current img {
  border: none !important;
}

input[type=range] {
  appearance: none;
  height: 4px;
  margin-top: 16px;
  padding-top: 4px;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid var(--color-pnku);
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background: var(--color-blue-700);
  cursor: pointer;
  -webkit-appearance: none;
  margin: -10px 0;
}

*::selection {
  background-color: var(--color-blue-500);
  color: white;
}